@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gugi: "Gugi", cursive;
  --itim: "Itim", cursive;
}

.theme1 {
  --very-dark-blue: #022c43;
  --dark-blue: #053f5e;
  --light-dark-blue: #115173;
  --yellow: #ffd700;
}

.theme2 {
  --black: #232931;
  --light-black: #393e46;
  --green: #4ecca3;
  --grey-white: #eeeeee;
}

.theme3 {
  --dark-navy-blue: #06283d;
  --light-navy-blue: #256d85;
  --blue: #47b5ff;
  --light-blue: #dff6ff;
}

body,
html,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .title {
  font-family: var(--gugi);
} */

.header {
  background-color: var(--dark-navy-blue);
  color: var(--light-blue);
}

.content {
  background-color: var(--dark-navy-blue);
  color: var(--light-blue);
}
.content-title {
  color: var(--green);
}

#showcase {
  background-color: var(--dark-navy-blue);
}

.project {
  overflow: hidden;
  background-color: black;
}

.project-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-1 {
  background-image: url(./images/projects/dictionary.PNG);
}

.project-2 {
  background-image: url(./images/projects/todo.PNG);
}

.project-3 {
  background-image: url(./images/projects/Meals.PNG);
}

.project-4 {
  background-image: url(./images/projects/TeamMemberAlloc.PNG);
}

.footer {
  background-color: var(--light-navy-blue);
  color: var(--light-blue);
}
